.env
*/.env
*.conf

*.log
*.sql
*.sqlite3
*.tar.gz

odoo/odoo.conf
authentik/media/
restic/restic_repo/
netdata/config/
traefik/config/acme.json
traefik/config/dynamic.yml
traefik/config/traefik.yml
traefik/config/cf-token


restic/dumps/
restic/restore_dumps/
restic/restore_volumes/

*.swp
*.bak
*~
.DS_Store
Thumbs.db
